ion-content {
  --background: url("../../assets/image/system/bg-sign-up-in.png") no-repeat center/cover;
}

.logo {
  width: 280px;
  height: 148px;
  margin: auto;
  margin-top: 8rem;
} 
ion-item {
  --background: none;
}

.btn-sign-up {
  --background: #65d1ca;
  --border-radius: 50px;
}

.sign-up-in{
  margin-top: 75%;
  padding-left: 2rem;
  padding-right: 2rem;
}
